{% load static %}

<footer class="footer-bs" >
      <div class="row">
        <div class="col-12 col-md">
          <img class="img-fluid img-thumbnail" src="{% static 'img/pws.png' %}" alt="Logo Footer"width="250" height="250">
         
          <small class="d-block mb-3 text-muted">&copy; Asriel_Tada.Dev 2020</small>
        </div>
        {% if user.is_authenticated %}
        <div class="col-6 col-md">
          <h5>Paginas de interes</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{% url 'Pagina_Base:index' %}">Inicio</a></li>
          </ul>
        </div>
                <div class="col-6 col-md">
          <h5>Agregar</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{% url 'Pagina_Base:Create_Client' %}">Agrgar Cliente</a></li>
            <li><a class="text-muted" href="{% url 'Pagina_Base:Create_Machine' %}">Agregar Maquina</a></li>
            <li><a class="text-muted" href="{% url 'Pagina_Base:Rent_Machine' %}">Agendar Renta</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Listas</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{% url 'Pagina_Base:List_Client' %}">Listar Clientes</a></li>
            <li><a class="text-muted" href="{% url 'Pagina_Base:List_Machine' %}">Listar Maquinas</a></li>
            <li><a class="text-muted" href="{% url 'Pagina_Base:List_Rent' %}">Listar Rentas</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Usuario</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{% url 'user:Profile' %}">Perfil</a></li>
            <li><a class="text-muted" href="{% url 'user:EditUser' %}">Cambiar Perfil</a></li>
            <li><a class="text-muted" href="{% url 'user:ChangePassword' %}">Cambiar Contraseña</a></li>
            <li><a class="text-muted" href="{% url 'user:logout' %}">logout</a></li>
          </ul>
        </div>

        {% else %}
        <div class="col-6 col-md">
          <h5>Paginas</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{% url 'Pagina_Base:index' %}">Inicio</a></li>
          </ul>
        {% endif %}
      </div>
    </footer>