{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Registrar </title>
{% endblock %}


{% block antes_del_body%}

{% endblock %}


{% block body %}
<br>



                  <form  method="POST" enctype="multipart/form-data">

                    <table class="table table-dark" align="center" text-align="center" >
                        
                        <thead >
                            <tr><td align="center"><h2>Cambiar Contraseña</h2></td></tr>
                    
                        </thead>
                        <tbody>
                          {% csrf_token %}
                          <tr><td  align="center">{{ form.as_p }}</td></tr>
                          <tr><td  align="center"><button class="btn btn-primary" type="submit">Guardar cambios</button></td></tr>
                    </tbody>
                  
                  </table>
                  </form>
                  </div>
                  

    

{% endblock %}

